Repository techprober/cloud-estate, pull requests merged in 2021-11, with the labels that each got.

#2 [Feature] - Introduced pre-commit hooks
  .pre-commit-config.yaml
  README.md
  docs/pre-commit.md
  docs/terraform.md
Labels: documentation, feature

#1 [Terraform] - Provisioning VMs onto PVE platform for building k8s cluster
  terraform-modules/pve/Readme.md
  terraform-modules/pve/main.tf
  terraform-modules/pve/vars.tf
Labels: documentation, terraform, feature

#3 [CI] - Add umami image cron build
  .github/workflows/umami-cron-build.yaml
  containers/umami/README.md
  containers/umami/docker-compose.yml
  containers/umami/schema.postgresql.sql
Labels: ci, container

#6 [Feat] Ansible Integration
  playbooks/README.md
  playbooks/ansible.cfg
  playbooks/arch-packages-update.yml
  playbooks/bin/arch-update
  playbooks/bin/brew-bootstrap
  playbooks/bin/brew-update
  playbooks/docs/ssh-configuration.md
  playbooks/homelab-apt-packages-update.yml
  playbooks/inventory/local.yml
  playbooks/inventory/main.yml
  playbooks/local-homebrew-update.yml
  playbooks/local-maintenance-reachability.yml
  playbooks/remote-apt-packages-update.yml
  playbooks/remote-maintenance-reachability.yml
  playbooks/requirements.yml
  playbooks/roles/apt.ops/tasks/apt-update.yml
  playbooks/roles/apt.ops/tasks/main.yml
  playbooks/roles/arch.update/tasks/main.yml
  playbooks/roles/arch.update/tasks/pacman-update.yml
  playbooks/roles/arch.update/tasks/yay-update.yml
  playbooks/roles/homebrew.ops/tasks/homebrew-update.yml
  playbooks/roles/homebrew.ops/tasks/main.yml
  playbooks/roles/maintenance.reachability/tasks/main.yml
  playbooks/roles/maintenance.reachability/tasks/reachability.yml
  playbooks/variables/empty
Labels: feature, ansible, automation
