Repository techprober/cloud-estate, pull requests merged in 2022-09, with the labels that each got.

#174 [Feature/linux-tools/github] Add telegram-action
  linux-tools/README.md
Labels: feature, linux-tools

#175 [Feature/linux-tools/github] Add request-action
  linux-tools/README.md
Labels: feature, linux-tools

#176 [Chore] Bumb up terraform-proxmox-provider to v2.9.11
  terraform-modules/proxmox-ve/lxc-basic/README.md
  terraform-modules/proxmox-ve/lxc-basic/main.tf
  terraform-modules/proxmox-ve/lxc-basic/resources.tf
  terraform-modules/proxmox-ve/lxc-clone/README.md
  terraform-modules/proxmox-ve/lxc-clone/main.tf
  terraform-modules/proxmox-ve/lxc-clone/resources.tf
  terraform-modules/proxmox-ve/vm-cluster/README.md
  terraform-modules/proxmox-ve/vm-cluster/main.tf
  terraform-modules/proxmox-ve/vm-cluster/resources.tf
  terraform-modules/proxmox-ve/vm-mono/README.md
  terraform-modules/proxmox-ve/vm-mono/main.tf
  terraform-modules/proxmox-ve/vm-mono/resources.tf
Labels: terraform-module, chore

#177 [Feature/terraform-module] Add firewall option
  terraform-modules/proxmox-ve/vm-cluster/README.md
  terraform-modules/proxmox-ve/vm-cluster/resources.tf
  terraform-modules/proxmox-ve/vm-cluster/variables.tf
  terraform-modules/proxmox-ve/vm-mono/README.md
  terraform-modules/proxmox-ve/vm-mono/resources.tf
  terraform-modules/proxmox-ve/vm-mono/variables.tf
Labels: feature, terraform-module

#178 [Feature/linux-tools/oss] Add excalidraw
  linux-tools/README.md
Labels: feature, linux-tools

#179 [Feature/linux-tools/homelab] Add P3TERX/script
  linux-tools/README.md
Labels: feature, linux-tools

#181 [Feature/linux-tools/oss] Add ms-e5
  linux-tools/README.md
Labels: feature, linux-tools

#182 [Feature/linux-tools/oss] Add coolify
  linux-tools/README.md
Labels: feature, linux-tools

#184 [Feature/linux-tools/kubernetes-tools] Add helm-diff
  linux-tools/README.md
Labels: feature, linux-tools

#186 [Feature/linux-tools/cmd-utils] Add tldr
  linux-tools/README.md
Labels: feature, linux-tools

#189 [Feature/cloud-native/kind] Add MetalLB Support
  cloud-native/kind/README.md
  cloud-native/kind/app-prod.yaml
  cloud-native/kind/app.yaml
Labels: feature, cloud-native

#190 [Feature/linux-tools/nvim] Add github-nvim-theme
  linux-tools/README.md
Labels: feature, linux-tools

#191 [Feature/cloud-native/kind] External Access
  cloud-native/kind/README.md
  cloud-native/kind/kind.yaml
Labels: feature, cloud-native

#192 [Feature/cloud-native/golang] Add new tools
  linux-tools/README.md
Labels: feature, linux-tools

#193 [Feature/cloud-native/kind] Add ingress class option
  cloud-native/kind/README.md
  cloud-native/kind/app.yaml
Labels: feature, cloud-native

#194 [Feature/linux-tools/oss] Add jsonhero-web
  linux-tools/README.md
Labels: feature, linux-tools

#196 [Feature/linux-tools/telegram] Add ehForwarderBot
  linux-tools/README.md
Labels: feature, linux-tools

#199 [Feature/linux-tools/oss] Add hoppscotch
  linux-tools/README.md
Labels: feature, linux-tools

#200 [Feature/linux-tools/golang] Add go-kit
  linux-tools/README.md
Labels: feature, linux-tools

#201 [Feature/playbook/maintenance.ops/ipmitool.ops] Add power stage manager role
  ansible-playbooks/playbooks/maintenance/remote-server-power-control.yml
  ansible-playbooks/roles/maintenance.ops/ipmitool.ops/power.ops/tasks/main.yml
  ansible-playbooks/roles/maintenance.ops/ipmitool.ops/power.ops/tasks/power_control.yml
Labels: feature, playbook

#202 [Patch/playbook/maintenance.ops/user.ops/add.ops] Remove passwordless config
  ansible-playbooks/roles/maintenance.ops/user.ops/add.ops/tasks/add-user.yml
Labels: patch, playbook

#203 [Feature/linux-tools/homelab] Add ipmitool
  linux-tools/README.md
Labels: feature, linux-tools

#204 [Feature/infrastructure] Add API Token Creation Guide
  infrastructure/README.md
Labels: feature, infrastructure
