Repository techprober/cloud-estate, pull requests merged in 2022-10, with the labels that each got.

#206 [Feature/linux-tools/cmd-utils] Add gopass
  linux-tools/README.md
Labels: feature, linux-tools

#207 [Feature/linux-tools/oss] Add sops
  linux-tools/README.md
Labels: feature, linux-tools

#208 [Feature/linux-tools/oss] Add age
  linux-tools/README.md
Labels: feature, linux-tools

#210 [Feature/ansible playbooks/proxmox-lxc-template] A sample inventory list and group_vars
  ansible-playbooks/inventory/lxc.yml
  ansible-playbooks/inventory/proxmox-lxc/proxmox-ubuntu-privileged-docker-lxc/group_vars/proxmox-ubuntu-privileged-docker-lxc.yml
  ansible-playbooks/inventory/proxmox-lxc/proxmox-ubuntu-privileged-docker-lxc/main.yml
  ansible-playbooks/inventory/proxmox-lxc/proxmox-ubuntu-privileged-standard-lxc/group_vars/proxmox-ubuntu-privileged-standard-lxc.yml
  ansible-playbooks/inventory/proxmox-lxc/proxmox-ubuntu-privileged-standard-lxc/main.yml
  ansible-playbooks/inventory/proxmox-lxc/proxmox-ubuntu-unprivileged-standard-lxc/group_vars/proxmox-ubuntu-unprivileged-standard-lxc.yml
  ansible-playbooks/inventory/proxmox-lxc/proxmox-ubuntu-unprivileged-standard-lxc/main.yml
  ansible-playbooks/inventory/proxmox.yml
  ansible-playbooks/playbooks/proxmox/bake-lxc/privileged/purge-lxc.yml
  ansible-playbooks/playbooks/proxmox/bake-lxc/privileged/ubuntu-2204-docker.yml
  ansible-playbooks/playbooks/proxmox/bake-lxc/privileged/ubuntu-2204-standard.yml
  ansible-playbooks/playbooks/proxmox/bake-lxc/unprivileged/purge-lxc.yml
  ansible-playbooks/playbooks/proxmox/bake-lxc/unprivileged/ubuntu-2204-standard.yml
  ansible-playbooks/playbooks/proxmox/provision-lxc.yml
  ansible-playbooks/playbooks/proxmox/start-proxmox-vm.yml
  ansible-playbooks/playbooks/proxmox/stop-proxmox-vm.yml
Labels: feature, ansible, proxmox

#211 [Patch/packer-template] Add default ansible_become_pass
  packer-templates/minio-custom-proxmox-packer-template.pkr.hcl
  packer-templates/proxmox-packer-template.pkr.hcl
  packer-templates/vars/kevin-pve-01-ubuntu-2204.json
  packer-templates/vars/kevin-pve-02-ubuntu-2204.json
Labels: packer, patch

#212 [Patch/terraform-module/vm-cluster] Fix firewall param naming
  terraform-modules/proxmox-ve/vm-cluster/variables.tf
Labels: terraform, patch

#214 [Feature/linux-tools/neovim] Add noice.nvim
  linux-tools/README.md
Labels: feature, linux-tools

#216 [Patch/terraform-modules/proxmox-unprivileged-lxc] Add keyctl as default feature
  terraform-modules/proxmox-ve/lxc-privileged/resources.tf
  terraform-modules/proxmox-ve/lxc-unprivileged/resources.tf
Labels: patch, terraform-module

#217 [Feature/linux-tools] Add awx-operator
  linux-tools/README.md
Labels: feature, linux-tools

#218 [Feature/linux-tools/programming-addons] Add pyinstaller
  linux-tools/README.md
Labels: feature, linux-tools

#219 [Feature/linux-tools/programming-addons] Add tremor
  linux-tools/README.md
Labels: feature, linux-tools

#220 [Feature/linux-tools/oss] Add you-get
  linux-tools/README.md
Labels: feature, linux-tools

#221 [Feature/linux-tools/kubernetes-tools] Add kube-shell
  linux-tools/README.md
Labels: feature, linux-tools

#222 [Feature/linux-tools/cloud-native] Add external-secrets
  linux-tools/README.md
Labels: feature, linux-tools

#223 [Feature/linux-tools/telegram] Add pyTelegramBotAPI
  linux-tools/README.md
Labels: feature, linux-tools

#224 [Feature/linux-tools/kubernetes-tools] Add awesome-k8s-tools
  linux-tools/README.md
Labels: feature, linux-tools

#225 [Feature/linux-tools/dev] Add awesome-cheatsheets
  linux-tools/README.md
Labels: feature, linux-tools

#226 [Feature/linux-tools/vps-related] Add gd-utils
  linux-tools/README.md
Labels: feature, linux-tools

#227 Update terragrunt.hcl
  infrastructure/proxmox-lxc/privileged/terragrunt.hcl
  infrastructure/proxmox-lxc/unprivileged/terragrunt.hcl
Labels: bug-fix

#228 [Feature/linux-tools/kubernetes-tools] Add Helm Dashboard
  linux-tools/README.md
Labels: feature, linux-tools

#229 [Feature/linux-tools/programming/golang] Add go-patterns
  linux-tools/README.md
Labels: feature, linux-tools

#230 [Feature/linux-tools/kubernetes-tools] Add tips for certified exams
  linux-tools/README.md
Labels: feature, linux-tools

#231 [Feature/linux-tools/oss] Add Artalk
  linux-tools/README.md
Labels: linux-tools

#232 [Patch/terraform-modules/lxc-unprivileged-container] Enable fuse by default
  terraform-modules/proxmox-ve/lxc-unprivileged/resources.tf
Labels: terraform, patch

#233 Revert "[Patch/terraform-modules/lxc-unprivileged-container] Enable fuse by default"
  terraform-modules/proxmox-ve/lxc-unprivileged/resources.tf
Labels: pr-revert

#234 [Feature/linux-tools/oss] Weekly Updates
  linux-tools/README.md
  linux-tools/assets/python.svg
Labels: feature, linux-tools
